* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.inner{
    margin: 1em;
    background-color: #F6F9FE;
    padding: 2em 4em;
    border-radius: 0.5em;
}

/* header & nav */

.logo{
    margin-top: 1em;
    
}

nav > ul{
    display: inline-flex;
    list-style: none;
    align-items: center;
    color:#545454;
    float: right;
}

li{
    padding: 0.5em 1em;
}

button{
    color: white;
    background-color: #372865;
    font-weight: bold;
    padding: 1em;
    border-radius: 0.5em;
    border-style: solid;
    letter-spacing: 0.1em;
}

/* main content */
section{
    padding-top: 3em;
    line-height: 2em;
    padding-bottom: 6em;;
}
.highlight{
    display: inline;
    background-color: #372865;
    border-radius: 5em;
    color: #F6F9FE;
    padding: 0.5em 1.5em;
    font-size:small;
    word-spacing: 0.2em;
}

a{
    color: #F6F9FE;
}

h1{
    font-size: 4em;
    padding-bottom: 0.2em;
    padding-top: 0.5em; 
    line-height: 1em;
    color: #353252;
    font-weight:800;
    padding-right: 1em;
}

.hero-logo{
    float: right;
    max-height: 25em;
    min-height: 25em;
    padding-left: 1em;
}

input{
    width: 25%;
    margin-right: 0.5em;
    margin-top: 0.5em;
    padding: 1em;
    color: #545454;
    border-color: #E3E3E3;
    border-style:solid;
    border-radius: 0.2em;
    box-shadow: none;
}

/* footer */
h5{
    padding-bottom: 0.5em;
}

footer > img{
    padding-right: 0.5em;
}